/*! Custom-primary-color */
.cs-bg-primary {
    background-color: #00a0ff !important;
}

.cs-color-primary {
    color: #00a0ff !important;
}

/*! home-top-banner */
.home-top-banner {
    background: url('../../banner/banner4.jpg');
    height: 480px !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-layer {
    background-color: #000000c4;
    height: 480px !important;
}

/*! search-box */
.form-control:focus {
    /* border-color: #fff !important; */
    box-shadow: none !important;
}

.advertise-tag {
    top: 13px !important;
    background: blue;
    padding: 0px 11px;
    color: #fff;
    border-radius: 29% 0% 30% 0%;
    -webkit-transform: rotate(27deg);
    font-size: 10px;
}


.advertise-card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.product-card-img {
    width: inherit !important;
}