/*! Custom-primary-color */
.cs-bg-primary {
    background-color: #00a0ff !important;
}

.cs-color-primary {
    color: #00a0ff !important;
}

/*! home-top-banner */
.home-top-banner {
    background: url('../../banner/banner4.jpg');
    height: 480px !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-layer {
    background-color: #000000c4;
    height: 480px !important;
}

/*! search-box */
.form-control:focus {
    /* border-color: #fff !important; */
    box-shadow: none !important;
}

.advertise-tag {
    top: 13px !important;
    background: blue;
    padding: 0px 11px;
    color: #fff;
    border-radius: 29% 0% 30% 0%;
    -webkit-transform: rotate(27deg);
    font-size: 10px;
}


.advertise-card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.product-card-img {
    width: inherit !important;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
}

#progressbar-1 {
    color: #455A64;
}

#progressbar-1 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar-1 #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 22px;
    padding-left: 11px;
}

#progressbar-1 #step2:before {
    content: "2";
    color: #fff;
    width: 29px;
}

#progressbar-1 #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 22px;
    text-align: center;
}

#progressbar-1 li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64;
    border-radius: 50%;
    margin: auto;
}

#progressbar-1 li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
}

#progressbar-1 li:nth-child(2):after {
    left: 50%
}

#progressbar-1 li:nth-child(1):after {
    left: 25%;
    width: 121%
}

#progressbar-1 li:nth-child(3):after {
    left: 25%;
    width: 50%;
}

#progressbar-1 li.active:before,
#progressbar-1 li.active:after {
    background: #1266f1;
}

.card-stepper {
    z-index: 0
}